.bg {
  margin-top: 70px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.child {
  width: 100%;
  max-width: 400px;
}

.form-title {
  margin-left: 130px;
  margin-bottom: 40px;
}

.event-form {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
}

button.active {
  width: 100%;
  background-color: #154874;
  color: white;
}

@media (max-width: 768px) {
  .parent {
      padding: 0 10px;
  }

  .child {
      max-width: 100%;
  }
}