<div *ngIf="!isAdminLoggedIn && !isStudentLoggedIn">
    <mat-toolbar color="primary" class="navbar custom-toolbar">
        <span class="navbar-brand">ScorpAHD | Login</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/login" routerLinkActive="active" class="custom-button">Login</button>
    </mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
    <mat-toolbar color="primary" class="navbar custom-toolbar">
        <span class="navbar-brand">ScorpAHD | Admin</span>
        <span class="spacer"></span>
        <button mat-button (click)="exportToExcel()" class="custom-button">
            <mat-icon>
                download
            </mat-icon>
        </button>
        <button mat-button routerLink="/admin/dashboard" routerLinkActive="active" class="custom-button">Dashboard</button>
        <button mat-button routerLink="/admin/student" routerLinkActive="active" class="custom-button">Post</button>
        <button mat-button routerLink="/admin/send" routerLinkActive="active" class="custom-button">Send</button>
        <button mat-button routerLink="/admin/event" routerLinkActive="active" class="custom-button">Event</button>
        <button mat-button (click)="logout()" class="custom-button">Logout</button>
    </mat-toolbar>
</div>
<div *ngIf="isStudentLoggedIn">
    <mat-toolbar color="primary" class="navbar custom-toolbar">
        <span class="navbar-brand">ScorpAHD | Student</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/student/profile" routerLinkActive="active" class="custom-button">Profile</button>
        <button mat-button routerLink="/student/news" routerLinkActive="active" class="custom-button">News
            <span class="notification-badge" *ngIf="eventCounter > 0">{{ eventCounter }}</span>
        </button>
        <button mat-button (click)="logout()" class="custom-button">Logout</button>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>