<div *ngIf="!isAdminLoggedIn && !isStudentLoggedIn">
    <mat-toolbar color="primary" class="navbar custom-toolbar">
        <a class="navbar-brand" href="/login">ScorpAHD | Login</a>
        <button mat-button class="custom-button" (click)="scrollToPage('about')">About</button>
        <button mat-button class="custom-button" (click)="scrollToPage('info')">Info</button>
        <button mat-button class="custom-button" (click)="scrollToPage('contact')">Contact</button>
        <span class="spacer"></span>
        <button mat-button routerLink="/login" routerLinkActive="active" class="custom-button">Login</button>
    </mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
    <mat-toolbar color="primary" class="navbar custom-toolbar">
        <a class="navbar-brand" href="/admin/dashboard">ScorpAHD | Admin</a>
        <button mat-button class="custom-button" matTooltip="Projekt dyplomowy zrealizowany przez Aliaksandr Trukhanovich, student kierunku Informatyka (I stopnia), w ramach seminarium Sieciowe technologie ochrony danych." matTooltipPosition="above">
            <mat-icon>
                information
            </mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button (click)="exportToExcel()" class="custom-button">
            <mat-icon>
                download
            </mat-icon>
        </button>
        <button mat-button routerLink="/admin/dashboard" routerLinkActive="active" class="custom-button">Dashboard</button>
        <button mat-button routerLink="/admin/student" routerLinkActive="active" class="custom-button">Post</button>
        <button mat-button routerLink="/admin/send" routerLinkActive="active" class="custom-button">Send</button>
        <button mat-button routerLink="/admin/event" routerLinkActive="active" class="custom-button">Event</button>
        <button mat-button (click)="logout()" class="custom-button">Logout</button>
    </mat-toolbar>
</div>
<div *ngIf="isStudentLoggedIn">
    <mat-toolbar color="primary" class="navbar custom-toolbar">
        <a class="navbar-brand" href="/student/profile">ScorpAHD | Student</a>
        <button mat-button class="custom-button" matTooltip="Projekt dyplomowy zrealizowany przez Aliaksandr Trukhanovich, student kierunku Informatyka (I stopnia), w ramach seminarium Sieciowe technologie ochrony danych." matTooltipPosition="above">
            <mat-icon>
                information
            </mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button routerLink="/student/profile" routerLinkActive="active" class="custom-button">Profile</button>
        <button mat-button routerLink="/student/news" routerLinkActive="active" class="custom-button">News
            <span class="notification-badge" *ngIf="eventCounter > 0">{{ eventCounter }}</span>
        </button>
        <button mat-button (click)="logout()" class="custom-button">Logout</button>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>
