<div class="bg">
    <mat-spinner *ngIf="isSpinning" [diameter]="50" class="spinner"></mat-spinner>
    <div class="parent">
        <div class="child">
            <h1 class="form-title">Change your password</h1>
            <div class="description">To change your password, enter your new password below.</div>
            <form [formGroup]="validateForm" class="login-form">

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" placeholder="Current Password"
                        formControlName="currentPassword" />
                    <mat-icon matSuffix (click)="toggleCurrentPasswordVisibility()">
                        {{ hideCurrentPassword ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                    <mat-error *ngIf="validateForm.get('currentPassword')?.hasError('required')">This Input Is
                        Required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="New Password"
                        formControlName="password" />
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">
                        {{ hidePassword ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                    <mat-hint
                        *ngIf="validateForm.get('password').value && !validateForm.get('password').hasError('required')"
                        [ngStyle]="{ 'color': getPasswordStrengthColor() }">
                        {{ getPasswordStrengthHint() }}
                    </mat-hint>
                    <mat-error *ngIf="validateForm.get('password')?.hasError('required')">This Input Is
                        Required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm New Password"
                        formControlName="checkPassword" />
                    <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
                        {{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                    <mat-error *ngIf="validateForm.get('checkPassword')?.hasError('required')">This Input Is
                        Required!</mat-error>
                    <mat-error *ngIf="validateForm.get('checkPassword')?.hasError('confirm')">Two passwords that you enter are not the same!</mat-error>
                </mat-form-field>

                <button mat-raised-button [class.active]="validateForm.valid" (click)="changePassword()"
                    [disabled]="validateForm.invalid">Update Password</button>
                <mat-error
                    *ngIf="validateForm.get('password')?.hasError('passwordStrength') && !validateForm.get('password')?.errors['required']">
                    Hint: Password must be at least 8 characters long, include uppercase and lowercase letters, and
                    contain
                    digits and special characters(^ $ ! % * ? & _)
                </mat-error>

            </form>
        </div>
    </div>
</div>
