.reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    .reset-password-title {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .reset-password-form {
      display: flex;
      flex-direction: column;
  
      .form-field {
        width: 100%;
      }
  
      button {
        width: 100%;
      }
    }
  }
  