.dashboard-container {

  position: relative;

  .form-field {
    margin-right: 20px;
  }

  .filter-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-header span {
    margin-right: 5px;
    margin-top: 20px;
  }

  .sort-header {
    display: flex;
    align-items: center;
  }

  .sort-header span {
    margin-right: 5px;
  }

  .student-table {
    width: 100%;
    border-collapse: collapse;
  }

  .student-table th,
  .student-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }

  .student-table th {
    background-color: #f2f2f2;
    color: #333;
  }

  .student-table td {
    background-color: #fff;
  }

  .student-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .filter-input {
    max-width: 110px;
  }

  .student-table tbody tr:hover {
    background-color: #e5e5e5;
  }

  .student-table th,
  .student-table td {
    transition: background-color 0.3s ease;
  }

  .action-buttons {
    white-space: nowrap;
  }

  .no-data-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-data-image {
    width: 100px;
    margin-top: 300px;
    margin-bottom: 16px;
  }

  .no-data-text {
    font-size: 24px;
    color: #b6b6b6;
  }
}