<div class="dashboard-container">
    <table class="student-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>
                    <div class="filter-header">
                        <span>First Name</span>
                        <button mat-icon-button (click)="toggleSort('firstName')">
                            <mat-icon>sort_by_alpha</mat-icon>
                        </button>
                    </div>
                </th>
                <th>Second Name</th>
                <th>Email</th>
                <th>
                    <div class="filter-header">
                        <span>Department</span>
                        <button mat-icon-button (click)="toggleFilter('department')">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <input matInput *ngIf="showDepartmentFilter" [(ngModel)]="departmentFilterInput" placeholder="Enter department" (input)="filterStudents()">
                </th>
                <th>
                    <div class="filter-header">
                        <span>Field Of Study</span>
                        <button mat-icon-button (click)="toggleFilter('fieldOfStudy')">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <input matInput *ngIf="showFieldOfStudyFilter" [(ngModel)]="fieldOfStudyFilterInput" placeholder="Enter field of study" (input)="filterStudents()">
                </th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Gender</th>
                <th>
                    <div class="filter-header">
                        <span>Room Number</span>
                        <button mat-icon-button (click)="toggleFilter('roomNumber')">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <input matInput *ngIf="showRoomNumberFilter" [(ngModel)]="roomNumberFilterInput" placeholder="Enter room number" (input)="filterStudents()">
                </th>
                <th>
                    <div class="filter-header">
                        <span>Academic Year</span>
                        <button mat-icon-button (click)="toggleFilter('academicYear')">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <input matInput *ngIf="showAcademicYearFilter" [(ngModel)]="academicYearFilterInput" placeholder="Enter academic year" (input)="filterStudents()">
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students; let i = index">
                <td>{{ student.id}}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.secondName }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.department }}</td>
                <td>{{ student.fieldOfStudy }}</td>
                <td>{{ student.dateOfBirth | date: 'MMM, dd, YYYY' }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.roomNumber }}</td>
                <td>{{ student.academicYear }}</td>
                <td class="action-buttons">
                    <button class="update-button" routerLink="/admin/dashboard/update/{{student.id}}">Update</button>
                    <button class="delete-button" (click)="deleteStudent(student.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="no-data-container" *ngIf="students && students.length === 0">
    <img class="no-data-image" src="assets/inbox.png" alt="No data image">
    <p class="no-data-text">No Data</p>
</div>
