<div class="bg">
    <div class="parent">
        <div class="child">
            <h1 class="form-title">Login</h1>
            <div class="description">Service for the administration and residents of the academic dormitory</div>
            <form class="login-form" [formGroup]="loginForm">
                
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label class="label-container"><mat-icon class="icon">person</mat-icon>Email</mat-label>
                    <input matInput type="email" placeholder="Enter Email" formControlName="email"/>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">This Input Is Required!</mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label class="label-container"><mat-icon class="icon">lock</mat-icon>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password" />
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">
                        {{ hidePassword ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">This Input Is Required!</mat-error>
                </mat-form-field>

                <button mat-raised-button [class.active]="loginForm.valid" (click)="login()" [disabled]="loginForm.invalid">Log in</button>
                <button mat-button class="forgot-password-button" (click)="forgotPassword()">Forgot password?</button>
            </form>
        </div>
    </div>
</div>